body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-style: normal;

  width: 100vw;
  height: 100vh;

  background-color: #61b99f;
  background-image: url(../images/leafs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 738px) {
    background-color: rgb(248, 75, 248);
    background-image: url(../images/flowers-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  @media screen and(min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/flowers-mobile@2x.jpg);
  }
  @media screen and(min-width:739px) {
    background-color: #61b99f;
    background-image: url(../images/leafs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    // object-fit: fill;

    @media screen and(min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/leafs.jpg);
    }
  }
}
